@using ShortUrl.Models
@model ShortenedUrl

@{
    ViewBag.Title = "Url Shortener";
}

@helper TimeAgoInWords(DateTime dateTime)
{
    <time class="timeago" datetime="@dateTime.ToString("R")" title="@dateTime.ToString("f")">
        @dateTime.ToString("f")
    </time>
}
<!--
@Html.Raw(Json.Encode(@ViewBag.RegisteredSites))
-->

<div class="jumbotron">
    <h1>Shorten Url</h1>
    <form id="Shorten" action="@Url.Action("Index", "Shorten")" method="POST" autocomplete="off">
        <p class="lead">
            <div class="form-group">
                @Html.TextBoxFor(m => m.Url, new { @class = "form-control", placeholder = "enter a valid url", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Url)
            </div>
        </p>
        <p><input type="submit" id="ShortenSubmit" class="btn btn-primary btn-lg disabled" disabled value="Shorten Url"></p>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Recently Shortened Urls</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Url</th>
                <th>ShortUrl</th>
                <th>Created</th>
                @*<th>Visits</th>*@
            </tr>
            @foreach (ShortenedUrl item in ViewBag.Recent)
            {
                <tr>
                    <td><a target="_blank" href="@item.Url">@item.Url</a></td>
                    <td><a target="_blank" href="@Url.Action("Index", "Expand", new { id = item.Id })">/@item.Id</a></td>
                    <td>@TimeAgoInWords(item.Created)</td>
                    @*<td>0</td>*@
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    <script>
        var urlInputSelector = "#@Html.IdFor(m => m.Url)";
        var indexPage = new ShortUrl.IndexPage($(urlInputSelector), $("#ShortenSubmit"));
    </script>
}